<a href="https://colab.research.google.com/github/cabarros3/learnpython/blob/main/tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
from random import randint

In [ ]:
lanche = ('Hamburguer', 'Suco', 'Pizza', 'Pudim')
print(type(lanche))

<class 'tuple'>

In [ ]:
lanche[-1]

'Pudim'

In [ ]:
# jeito 1 de acessar os dados da tupla
for comida in lanche:
  print(f'Eu vou comer {comida}')
print('Comi pra caramba!')

Eu vou comer Hamburguer
Eu vou comer Suco
Eu vou comer Pizza
Eu vou comer Pudim
Comi pra caramba!

In [ ]:
# jeito 2 de acessar os dados da tupla
for cont in range(0, len(lanche)):
  print(f'Eu vou comer {lanche[cont]} na posição {cont}')

Eu vou comer Hamburguer na posição 0
Eu vou comer Suco na posição 1
Eu vou comer Pizza na posição 2
Eu vou comer Pudim na posição 3

In [ ]:
# jeito 3 de acessar os dados da tupla
for pos, comida in enumerate(lanche):
  print(f'Eu vou comer {comida}. Posição {pos}')

Eu vou comer Hamburguer. Posição 0
Eu vou comer Suco. Posição 1
Eu vou comer Pizza. Posição 2
Eu vou comer Pudim. Posição 3

In [ ]:
# usando o sorted
print(sorted(lanche))

['Hamburguer', 'Pizza', 'Pudim', 'Suco']

In [ ]:
a = (2,5,4)
b = (5,8,1,2)
c = b + a
print(c)
print(c.index(2))

(5, 8, 1, 2, 2, 5, 4)
3

In [ ]:
# podemos ter dados de tipos diferentes nas tuplas
pessoa = ('Camilla', 26, 'F', 80.0)
del(pessoa) # apagar a variável da memória
print(pessoa)

NameError: ignored

In [ ]:
# Exercício 72
# números por extenso

números = ('Zero','Um', 'Dois', 'Três', 'Quatro', 'Cinco', 'Seis', 'Sete', 'Oito', 'Nove', 'Dez', 'Onze', 'Doze', 'Treze', 'Quatorze', 'Quinze', 'Dezesseis', 'Dezessete', 'Dezoito', 'Dezenove', 'Vinte')

while True:
  user = int(input('Digite um número de 0 a 20: '))
  if 0 <= user <=20:
    break
  print('Tente novamente.', end='')
print(f'Você digitou o número {números[user]}')

Digite um número de 0 a 20: 88
Tente novamente.Digite um número de 0 a 20: 20
Você digitou o número Vinte

In [7]:
# Exercício 73
# 20 primeiros times do brasielirão. 5 primeiros, 4 últimos, ordem alfabética e a posição de um time específico

#criando a tupla
times = ('Atletico-MG', 'Internacional', 'São Paulo', 'Flamengo', 'Palmeiras', 'Santos', 'Grémio', 'Fuminense', 'Bahia', 'Sport Recife', 'Corinthians', 'Fortaleza', 'Ceará SC', 'Atletico-GO', 'Bragantino', 'Vasco da Gama', 'Atletico-PR', 'Coritiba', 'Botafogo', 'Goiás')

#visualizações

print('.-.' * 15)
print(f'Os 5 primeiros times do brasileirão são: {times[:5]}')
print('.-.' * 15)
print(f'Os times que estão na zona de rebaixamento do brasileirão são: {times[-4:]}')
print('.-.' * 15)
print(f'A lista de times em ordem alfabética é : {sorted(times)}')
print('.-.' * 15)
print(f'O Sport Recife está na {times.index("Sport Recife")}ª posição ')

.-..-..-..-..-..-..-..-..-..-..-..-..-..-..-.
Os 5 primeiros times do brasileirão são: ('Atletico-MG', 'Internacional', 'São Paulo', 'Flamengo', 'Palmeiras')
.-..-..-..-..-..-..-..-..-..-..-..-..-..-..-.
Os times que estão na zona de rebaixamento do brasileirão são: ('Atletico-PR', 'Coritiba', 'Botafogo', 'Goiás')
.-..-..-..-..-..-..-..-..-..-..-..-..-..-..-.
A lista de times em ordem alfabética é : ['Atletico-GO', 'Atletico-MG', 'Atletico-PR', 'Bahia', 'Botafogo', 'Bragantino', 'Ceará SC', 'Corinthians', 'Coritiba', 'Flamengo', 'Fortaleza', 'Fuminense', 'Goiás', 'Grémio', 'Internacional', 'Palmeiras', 'Santos', 'Sport Recife', 'São Paulo', 'Vasco da Gama']
.-..-..-..-..-..-..-..-..-..-..-..-..-..-..-.
O Sport Recife está na 9ª posição

In [17]:
#Exercício 74
# sorteando valores


aleatorio = (randint(1,5), randint(1,5), randint(1,5), randint(1,5), randint(1,5))
print('Os valores sorteados foram: ')
for n in aleatorio:
  print(f'{n} ', end='')

print(f'\nO maior valor sorteado foi {max(aleatorio)}')
print(f'O menor valor sortado foi {min(aleatorio)}')

Os valores sorteados foram:
5 2 3 4 2
O maior valor sorteado foi 5
O menor valor sortado foi 2

In [35]:
# Exercício 75
#analizando dados

x = (int(input('Digite um número: ')),
    int(input('Digite outro número: ')), 
    int(input('Digite mais um número: ')),
    int(input('Digite o último número: ')))

print(f'Você digitou os valores:  {x}')
print(f'O valor 9 apareceu {x.count(9)} vezes')
if 3 in x:
  print(f'O valor 3 apareceu pela primeira vez {x.index(3)+1}ª posição')
else:
  print('O valor 3 não foi digitado em nenhuma posição.')
print('Os valores pares digitados são ', end='')
for n in x:
  if n % 2 == 0:
    print(n, end=' ')

Digite um número: 8
Digite outro número: 7
Digite mais um número: 6
Digite o último número: 4
Você digitou os valores:  (8, 7, 6, 4)
O valor 9 apareceu 0 vezes
O valor 3 não foi digitado em nenhuma posição.
Os valores pares digitados são 8 6 4

In [66]:
# Exercício 76
# lista de preços com tuplas

listagem = ('Lápis', 1.75, 'Borracha', 1.50, 'Caneta', 1.50, 'Resma de Papel', 20.5, 'Corretivo', 5.20, 'Post-it', 17.50)

print('.-.' * 15)
print(f'{"LISTA DE PREÇOS":^45}') #para alinhar no centro
print('.-.' * 15)
for pos in range(0, len(listagem)):
  if pos % 2 == 0:
    print(f'{listagem[pos]:.<30}', end='') #para alinhamento na esquerda
  else:
    print(f'R${listagem[pos]:>7.2f}') #para alinhamento na direita

print('.-.' * 15)

.-..-..-..-..-..-..-..-..-..-..-..-..-..-..-.
               LISTA DE PREÇOS
.-..-..-..-..-..-..-..-..-..-..-..-..-..-..-.
Lápis.........................R$   1.75
Borracha......................R$   1.50
Caneta........................R$   1.50
Resma de Papel................R$  20.50
Corretivo.....................R$   5.20
Post-it.......................R$  17.50
.-..-..-..-..-..-..-..-..-..-..-..-..-..-..-.